body{
	background-image: linear-gradient(rgb(50,50,50), rgba(20,20,20));
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align: left;
	font-size: calc(10px + .15vw);
	line-height: 20px;
	letter-spacing: 1.3px;
	color:white;
}

footer{
	width:100%;
	padding:10vh calc(10vw + 5px) 9vh;
	text-align: right;
}

nav{
	z-index: 100;
	width:100%;
	height:50px;
	background-color: rgba(20,20,20,.8);
	padding:0 5px;
	position: fixed;
    top: 0;
}

main{
	padding:0 10vw;
}

h1,h2,h3,nav,input[type], a, a:link, a:visited{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin:0;
}

h1{
	line-height:50px;
	letter-spacing: 18px;
	font-size: 36px;
	font-weight: 700;
}

h2{
	line-height:50px;
	letter-spacing: 8px;
	font-size: 20px;
	padding-bottom: 10vh;
	
}

h3{
	line-height:50px;
	letter-spacing: 4px;
	font-size: 16px;
}

p{
	margin-bottom: 25px;
}

input:not([type='checkbox']), a, a:link, a:visited{
	all:unset;
	line-height: 40px;
  	letter-spacing: 2.5px;
  	color:white;
  	padding:0 1.5vw;
    margin:4px 0;
    text-align: center;
    display: inline-block;
    transition-duration: .2s;
    cursor: pointer;
}

input[type=text],input[type=email],input[type=password]{
	text-align: left;
	line-height: 30px;
  	width:calc(100% - 22px);
  	padding:5px 10px;
}

a:hover, input:hover{
    background-color: rgba(250,100,100,.3);
}

input[type]:focus{
    background-color: rgb(50,50,50);
}

::placeholder{
	color:white;
}

#titlebtn{
	font-weight: 700;
	font-size: calc(12px + .2vw);
	letter-spacing: 4px;
}

.textbox{
	background-color: rgba(0,0,0,0);
	padding:10vh 5px;
	max-width: 100%;
	margin:0;
}

.background-red{
	background-color: rgb(180,60,60);
}

.text-red{
	color:rgb(250,100,100);
}

.border{
	border:solid white 1px;
}

header{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(20,20,20);
    height:75vh;
    opacity:0.95;
    text-align: center;
    padding-top: calc(37.5vh - 30px);
}

.col-md-6,.col-md-3,.col-sm-6{
	padding:5px;
}

.ratio3-4{
	padding-bottom:150%;
	background-size: cover;
    background-position: center;
    opacity: .9;
}

.ratio1-1{
	padding-bottom:100%;
	background-size: cover;
    background-position: center;
    opacity: .9;
}

.overlay{
	transition-duration: .2s;
	width:calc(100% - 10px);
	padding:calc(150% - 165px) 0 0 0;
	background-color: rgba(0,0,0,.8);
	position: absolute;
	opacity: 0;
}

.overlay:hover{
	opacity:1;
}

.overlay a{
	width: 100%;
	line-height: calc(150px);
}

.edges, .overlay a{
	margin:0;
	padding:0;
}

.mar-bottom-1{
	margin-bottom: 1vh;
}

.center{
	text-align: center;
}

#profile p{
	padding:0;
	line-height: 50px;
}

.float-l{
	float:left;
}

.float-r{
	float:right;
}


.card {
    height: 0;
    padding-bottom: 100%;
    background-color: rgb(50, 110, 50);
   
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-top: 10vh;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
